/* PersonalDataCabinet.module.css */
.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.label {
    margin: 10px 0 5px;
}

.input, .select, .skillInput {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skillItem {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

/* .skillRemoveButton {
    margin-left: 10px;
    cursor: pointer;
} */

.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #0056b3;
}

.skillsOptions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.skillOption, .skillItem {
    margin: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.skillOption:hover, .skillItem:hover {
    background-color: #e0e0e0;
}

.skillRemoveButton {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 8px;
}

.addButton {
    padding: 5px 10px;
    cursor: pointer;
}
