/* Resume.module.css */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.listItem {
    margin-bottom: 5px;
    margin-right: 20px;
}

.listItem:before {
    content: '• ';
    color: black;
    margin-right: 5px;
}

.text {
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.container {
    border: 1px solid #ddd;
    /* margin: 10px; */
    padding: 20px;
    border-radius: 5px;
    width: 55%;
    height: auto;
}